<!DOCTYPE html>
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en" ng-app="OdajuApp">
<!--<![endif]-->
<!-- Header Start -->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catalogo - Odaju Store</title>
    <!--stylesheet css file start-->
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <!--stylesheet css file end-->
    <!-- favicon links -->
    <link rel="shortcut icon" type="image/x-icon" href="favicon2.png" />
</head>
<!-- Header End -->
<!-- Body Start -->
<body>
    <!--HOME SECTION-->
    <div class="header">
        <div class="container">
            <div class="row">
                <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 top_padder20"> <a href="index.html" class="tr_small_logo"><img src="images/odaju4.png" alt="Odaju Store - Tienda Online"></a> </div>
                <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 padding_lr">
                    <nav class="navbar navbar-inverse" role="navigation">
                        <div class="navbar-header">
                            <button type="button" id="nav-toggle" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav"><span class="tr_toggle_menu"><span class="glyphicon glyphicon-list"></span></span><span class="tr_toggle_text">MENU</span> <span class="sr-only">Toggle navigation</span> </button>
                        </div>
                        <!--navbar-header-->
                        <div id="main-nav" class="collapse navbar-collapse tr_right_align tr_small_menu">
                            <ul class="nav navbar-nav">
                                <li><a href="index.html#news">Noticias</a></li>
                                <li><a href="#" class="active">Catálogo</a></li>
                                <li><a href="index.html#article">Blog</a></li>
                                <li><a href="index.html#quotes">Testimonios</a></li>
                                <li><a href="index.html#team">Conocenos</a></li>
                                <li><a href="index.html#contact">Contacto</a></li>
                            </ul>
                        </div>
                        <!--navbar-collapse-->
                    </nav>
                </div>
            </div>
            <!--navbar-->
        </div>
        <!--container-->
    </div>
    <!--header-->
    <!--second menu start-->
    <div class="pagenav fixedmenu">
        <div class="holder-fixedmenu">
            <div class="logo-fixedmenu"> <a href="index.html"><img src="images/odaju4.png" alt="Odaju Store - Tienda Online"></a> </div>
            <div class="menu-fixedmenu home">
                <ul id="menu-home-page" class="menu">
                    <li><a href="index.html#news" data-id="news">Noticias</a></li>
                    <li><a href="#" class="active" data-id="portfolio">Catálogo</a></li>
                    <li><a href="index.html#article" data-id="article">Blog</a></li>
                    <li><a href="index.html#quotes" data-id="quotes">Testimonios</a></li>
                    <li><a href="index.html#team" data-id="team">Conocenos</a></li>
                    <li><a href="index.html#contact" data-id="contact">Contacto</a></li>
                </ul>
            </div>
        </div>
    </div>

    <!--second menu end-->
    <!--header End-->
    <!--Breadcrumb Start-->
    <div class="tr_bread">
        <div class="container">
            <ol class="breadcrumb">
                <li><a href="index.html">Odaju Store »</a></li>
                <li><a class="active">Cat&aacute;logo</a></li>
            </ol>
        </div>
    </div>
    <!--Breadcrumb End-->
    <div class="tr_inner_page_container">
        <div class="container">
            <div class="tr_filter" ng-controller="CategoriasCtrl">
                <ul class="tr_filter_title">
                    <li><a href="#" class="filter-item active" data-filter="all">Ver Todos</a></li>
                    <li ng-repeat="Categoria in Categorias"><a href="#" class="filter-item active" data-filter="{{Categoria.Codigo}}">{{Categoria.Nombre}}</a></li>
                </ul>
            </div>
            <div class="tr_mix_grid" id="grid" ng-controller="CatalogoCtrl">
                <div class="tr_port_one_third tr_show_overlay {{Producto.CodigoCatego}} mix" ng-repeat="Producto in CatalogoLucho">
                    <div class="tr_port_recentimage">
                        <div class="tr_port_overdefult">
                            <div class="tr_port_recentdescription">
                                <a href="#" title="{{Producto.Nombre}}">
                                    <h3>{{Producto.Nombre}}</h3>
                                </a>
                                <div class="tr-page-portfolio-categories">{{Producto.Categoria}}</div>
                                <div class="tr-home-portfolio-categories">{{Producto.Precio}}</div>
                            </div>
                        </div>
                        <div class="tr_port_image"> <a href="#"> <img src="{{Producto.Imagen}}" alt="" class="img-responsive" style="height:100%"> </a> </div>
                    </div>
                </div>
            </div>
        </div>
        <!--container-->
        <!--go to top-->
        <div class="totop">
            <div class="gototop">
                <a href="#">
                    <div class="arrowgototop"> </div>
                </a>
            </div>
        </div>

        <div class="Pedido">
            <div class="Pedido2">
                <a href="index.html#contact">
                    Haz tu pedido
                </a>
            </div>
        </div>
        <!--Footer Start-->
        <!--<div class="tr_footer">
          <div class="container">
            <div class="row">
              <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <div class="tr_widget">
                  <div class="tr_footer_title">
                    <h3>Text Widget</h3>
                  </div>
                  <div class="tr_footer_description"> Lorem ipsum dolor sit amet, consec tuer adipiscing elit, sed diam nonum nibh euismod. <b>Lotuer adipiscing</b> elit, sed diam nibh eu. </div>
                </div>
              </div>
              <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <div class="tr_widget">
                  <div class="tr_footer_title">
                    <h3>Tags</h3>
                  </div>
                  <div class="tr_footer_tag_description"> <a href="tag.html">AUDIO</a> <a href="tag.html">BUSINESS</a> <a href="tag.html">ELEGANT</a> <a href="tag.html">FASHION</a> <a href="tag.html">GALLERY</a> <a href="tag.html">PHOTOGRAPHY</a> <a href="tag.html">PRESENT</a> <a href="tag.html">SONG</a> <a href="tag.html">TRIP</a> <a href="tag.html">VIDEO</a> <a href="tag.html">WEDDING</a> </div>
                </div>
              </div>
              <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <div class="tr_widget">
                  <div class="tr_footer_title">
                    <h3>About Us</h3>
                  </div>
                  <div class="tr_footer_description"> <b>Teresa d.o.o.</b>, 1000 Ljubljana
                    Celovska 135 <br>
                    <br>
                    <b>Phone:</b> (+386) 40 123 456<br>
                    <b>Email:</b> info@teresa.com </div>
                </div>
              </div>
              <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <div class="tr_widget">
                  <div class="tr_footer_title">
                    <h3>Recent Post</h3>
                  </div>
                  <div class="tr_footer_description">
                    <div class="tr_post1"><a href=""><img src="http://placehold.it/90X60" alt="" class="img-responsive tr_opacity"> </a></div>
                    <div class="tr_post_info">
                      <h6><a href="fashion-photography.html">Fashion Photography</a></h6>
                    </div>
                  </div>
                  <div class="tr_footer_description">
                    <div class="tr_post1"><a href=""><img src="http://placehold.it/90X60" alt="" class="img-responsive tr_opacity"> </a></div>
                    <div class="tr_post_info">
                      <h6><a href="photoshooting-at-wedding-ceremony.html">Photoshooting at Wedding</a></h6>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>-->
        <footer>
            <div class="container">
                <div class="tr_copyright"> OdajuStore© 2015. <a href="http://www.developersanddesigners.com.co/" target="_blank">D&D Develoeprs and Designers</a> | Todos los derechos reservados </div>
            </div>
        </footer>
        <!--Footer End-->
        <!--Scripts Start-->
        <script src="js/jquery_min.js" type="text/javascript"></script>
        <script src="js/jquery.prettyPhoto.js" type="text/javascript" charset="utf-8"></script>
        <script src="js/bootstrap.js" type="text/javascript"></script>
        <script src="js/scrollReveal.js" type="text/javascript"></script>
        <script src="js/jquery.bxslider.min.js" type="text/javascript"></script>
        <script src="js/jquery.mixitup.js" type="text/javascript"></script>
        <script src="js/plugins/scattered/js/modernizr.min.js" type="text/javascript"></script>
        <script src="js/plugins/scattered/js/classie.js" type="text/javascript"></script>
        <script src="js/plugins/scattered/js/photostack.js" type="text/javascript"></script>
        <script src="js/plugins/revolution/js/jquery.themepunch.revolution.min.js" type="text/javascript" charset="utf-8"></script>
        <script src="js/plugins/revolution/js/jquery.themepunch.tools.min.js" type="text/javascript" charset="utf-8"></script>
        <script src="js/custom.js" type="text/javascript"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.9/angular-touch.min.js"></script>
        <script src="lib/angular-carousel/angular-carousel.js"></script>
        <script src="js/GlobalV.js"></script>
        <script src="js/Angular/services.js"></script>
        <script src="js/Angular/controllers.js"></script>
        <!--Scripts End-->
        <!--Body End-->
</body>
</html>
